[package]
name = "sprite"
version = "0.1.6"
authors = ["Thomas Versteeg <thomasversteeg@gmx.com>"]
license = "GPL-3.0"
homepage = "https://github.com/tversteeg/sprite-gen"

readme = "README.md"
description = "Procedurally generate pixel sprites and save them in different formats"

repository = "https://github.com/tversteeg/sprite-gen.git"
keywords = ["gamedev", "sprite", "procedural", "procgen"]
categories = ["games", "rendering", "game-engines"]

[badges]
travis-ci = {repository = "tversteeg/sprite-gen"}

[workspace]

[dependencies]
sprite-gen = { path = "lib", version = "0" }
blit = "0.5"
minifb = "0.11"
direct-gui = "0.1"

[[example]]
name = "minifb"
path = "examples/minifb.rs"

[dev-dependencies]
sprite-gen = { path = "lib", version = "0" }
blit = "0.5"
minifb = "0.11"
